.*
elpa/*
\#*
config.el
ido.last
*~
recentf
el-get/*
custom.el
projectile.cache
projectile-bookmarks.eld
semanticdb/*
config.html
company-statistics-cache.el
emms/*
smex-items
eshell/*
bookmarks
network-security.data
temp/*
games/*
irony/*
tramp/*