.*
elpa/*
games/*
test/*
vendor/*
el-get/*
auto-save-list/*
ido.*
smex-items
ac-comphist.dat
\#init.el\#
url/*
recentf
projectile-bookmarks.eld
config/init-my-theme-2.el
config/my-color-theme.el
\#*
temp/*
history
irony/*
projectile.cache
site-lisp/*
Emacs-PDE*
helm-adaptive-history
network-security.data
custom.el
